//Buttons
//
// MMORPG buttons and links
//
// Markup:
// <button class="button {$modifiers}">Click Me</button>
// <input type="submit" class="button {$modifiers}" value="Click Me">
// <a href="#" class="button {$modifiers}">Click Me</a>
//
// :hover - Hover state
// :success - Success and completion state
// :neutral - Neutral or info state
// :danger - Danger or delete state
//
// Styleguide 1


.button {
    border-radius: 0;
    border: none;
    background: white;
    font-size: .875rem;
    padding: .5rem 1rem;


    &:hover {
        background: lightgrey;
    }

    .success {
        background: #00DB00;
    }

    .neutral {
        background: deepskyblue;
    }

    .danger {
        background: red;
    }
}
