//Trending
//
// MMORPG Trending
//
// Markup:
// <p class="para">Trendfdsfsdfding Dummy Text</p>
//
// :hover - Hover state
//
// Styleguide 2

#block-mmorpg-article-trending{
	display: none;
	@include breakpoint($tablet){
		display: block;
	}

	h3{
		display: inline-block;
	}
}

ul.trending_links{
	display: inline-block;
	li{
		display: inline-block;
	}

	li.last span{
		display : none;
	}

	a{
		font-size: 14px;
		font-weight: 200;
		padding-left: 10px;
		padding-right: 10px;
	}

	span{
		font-size: 16px;
		color: #959595;
		font-weight: 300;
	}
}
