//Trending
//
// MMORPG Trending
//
// Markup:
// <p class="para">Trending Dummy Text</p>
//
// :hover - Hover state
//
// Styleguide 2

.para{
    color: red;
    background: #fff;

    &:hover{
        background: #000;
        color: #fff;
    }
}
