////////////////////////
// Layouts Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All box model properties go here
////////////////////////

html{
font-family: sans-serif;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
padding: 0px;
margin: 0px;

}

.l-container{
	margin: 0 auto;
	max-width: 1260px;
	width: 100%;
}