.hidden {
  display: none;
}
.breadcrumb {
  display: none;
}
.main {
    padding-top: 135px;
}
.main-inner {
    max-width: 1260px;
    clear: both;
    margin: auto;
    overflow: hidden;
    background-color:$white;
}

/* ==========================================================================
   Global Titles and RSS
   ========================================================================== */
.pane-mmorpg-site-title-block,
.pane-mmorpg-game-game-rss-link-block{
  display: inline;
  vertical-align: middle;
}
.pane-mmorpg-game-game-rss-link-block {
  position: relative;
  top: -0.75em;
  left: -0.25em;
}
.title_crumbs{
  @extend %title;
  color: $black !important;
  display: inline;
  a {
    color: $black !important;
  }
}

.pane-mmorpg-game-game-rss-link-block > a{
  width: 19px;
  height: 19px;
  text-indent: -9999px;
  display: inline-block;
  background: url("../images/rss_icon.png") no-repeat transparent;
  margin-left: -10px;

  &:hover{
    background-position: -19px 0px;
  }
}

.pill {
  background-color: $link;
  color: white;
  border-radius: 3px;
  padding: 1px 3px 2px 4px;
  margin: 0px 5px 0px 5px;
  font-size: 0.8em;
}

.pane-mmorpg-game-game-menu-block {
  margin-top: 1em;
  margin-bottom: 0.75em;
}
