.hidden {
  display: none;
}
.breadcrumb {
  display: none;
}
.main {
    padding-top: 135px;
}
.main-inner {
    max-width: 1260px;
    clear: both;
    margin: auto;
    overflow: hidden;
    background-color:$white;
}
