.node-type-mmorpg-article{
	.node-collection-menu-level-1{
			display: none;
	}
	h1{
			padding: 10px 15px 5px 0px;
			margin-left: 26px;
			margin: 0px;
			font-size: 35px;
			font-weight: normal;
			line-height: 1.2em;
	}

	.node__submitted{
			font-size: 13px;
			padding: 6px 0px 15px 1px;
			border-top: 1px solid $light-blue;
			display: inline-block;
			margin-top: 5px;
			color: $grey;
	}

	.field--name-field-article-overview{
		display: none;
	}

	.field__item{
			font-size: 14px;
			line-height: 1.6em;
			padding-top: 0px;
			margin-top: 0px
	}

	.field--name-field-article-hero-image{
			padding: 0px;
	}

	.field--name-field-article-news-post{
		font-size: 14px;
		line-height: 1.6em;
		margin: 0 auto;
		top: -40px;
		margin-bottom: -40px;
		padding: 20px;
		background: $white;
		border-top: 4px solid $light-blue;
		max-width: 715px;
		position: relative;
		width:100%;

		img{
			max-width: 715px;
			width: 100%;
		}
	}
}

.block-views-id-latest_updates-block {
	.views-field-title span {
		width: 100%;
		a {
			min-height: 45px;
			display: inline-block;
			width: 100%;
			img {
				float: left;
				margin-right: 0.50em;
			}
		}
	}
	.view-footer a{
		color: $white;
	}
}

.view-footer 	.om-autoscroll {
	@extend .btn;
	@extend .fullwidth;
}
