.pane-mmorpg-signup-now-play-now-page-filters{
	@include grid-span(10, 2);
	float: none;
	padding-bottom: 10px;

	div:nth-child(2){
		@extend %play_now_buttons;
		background: $green;

		& + a{
			background: $btn-blue;
		}
	}

	a{
		@extend %play_now_buttons;
		background: $dark-gray;
	}
}