.remainingkeys {
  display: block;
  padding: 10px;
  font-size: 40px !important;
  color: #14adff;
  font-weight: bold;
  text-align: center;
  margin: 0.50em 0;
}

.node-type-giveaway {
	p, strong, span {
		font-size: 14px !important;
	}
  .-giveaway-show-claim-button {
    text-align: center;
  }
}