.pane-game-ratings {
  background-color: $darkbg;
  color: white;
  border-radius: 4px;
  padding: 2em;
  width: 100%;
  background-image: url(http://skywisenight.com/spec_rev7/content/images/639_r0.jpg);
  background-position: 0px -40px;
  background-repeat: no-repeat;
  margin-bottom: 2em;
  display: inline-block;
  .view-header {
    float: left;
    margin: 1em 0 0 1em;
    text-align: center;
  }
  .view-footer {
    .btn {
    background: $green;
    }
  }
  .view-content {
  float: right;
  }
  .views-field {
      margin: 1em 0;
    }
    .views-label {
      float: left;
      min-width: 124px;
    }
    .ui-slider-horizontal {
      background: #494949;
      border: 1px solid #8ECCFF;
      border-radius: 2px;
      overflow: hidden;
      position: relative;
      display: inline-table;
      width: 240px;
      height: 0.8em;
    }
    .rate-mmorpg-value {
      background: #2697ff;
      height: 12px;
      float: left;
    }
  .views-row {
    .field-content {
      display: inline-block;
    }
    .rate-info {
      display: none;
    }
    .total-average {
      margin-right: 0.50em;
      min-width: 40px;
      float: left;
    }
  }
  .ratingstotal {
    .label {
      font-size: 19px;
    }
    .currentScore {
      margin-top: 0;
    }
    .game-average {
      font-size: 80px;
    }
  }
  a.btn {
    color: white;
  }
  .view-display-id-active_ratings {
   .view-content {
      background: rgba(0, 0, 0, 0.53);
      border: 1px solid #777;
      padding: 0 1em 0;
    }
    .view-footer {
      display: inline-block;
      width: 50%;
      float: right;
      text-align: center;
    }
  }
}
.cast-view {
  display: none;
  float: left;
}
