.pane-game-ratings {
  background-color: $darkbg;
  color: white;
  border-radius: 4px;
  padding: 2em;
  width: 100%;
  background-image: url(http://skywisenight.com/spec_rev7/content/images/639_r0.jpg);
  background-position: 0px -40px;
  background-repeat: no-repeat;
  margin-bottom: 2em;
  .views-field {
  	  margin: 1em 0;
	}
	.views-label {
	  float: left;
	  min-width: 124px;
	}
	.ui-slider-horizontal {
	  background: #494949;
	  border: 1px solid #8ECCFF;
	  border-radius: 2px;
	  overflow: hidden;
	  position: relative;
	  display: inline-table;
	  width: 240px;
	  height: 0.8em;
	}
	.rate-mmorpg-value {
	  background: #2697ff;
	  height: 12px;
	  float: left;
	}
}