.rightsidebar {
  h2.block__title {
    font-size: 18px;
    font-weight: normal;
    border-bottom: 3px solid #bce6ff;
    margin-bottom: 0.50em;
    padding-bottom: 0.50em;
  }
  .block__content {
    line-height: 18px;
  }
}
