.pane-screenshot-gallery-grid{
	.views-row{
		@extend %gallery_rows;
		max-width: 109px;
		@include breakpoint(768px){
			max-width: 243px;
		}
	}

	.screenshot_hover{
		@extend %gallery_overlay;
		max-width: 109px;
		height: 96%;
		padding: 1em;
		@include breakpoint(768px){
			max-width: 228px;		
			height: 98%;	
		}

		&:hover{
			@extend %gallery_hover;
		}
	}
}

