.pane-screenshot-gallery-grid{
  .views-row{
    @extend %gallery_rows;
    max-width: 109px;
    @include breakpoint(768px){
      max-width: 228px;
      margin: 0 0.50em 0.35em 0;
    }
    .views-row-even.views-row-last {
      margin: 0;
    }
    &:nth-child(3n+3) {
      @include breakpoint (900px) {
        margin: 0;
      }
    }
  }
  .screenshot_hover{
    @extend %gallery_overlay;
    max-width: 109px;
    height: 96%;
    padding: 1em;
    @include breakpoint(768px){
      max-width: 228px;
      height: 98%;
    }

        &.house_submitted span{
          background: transparent url('../images/mmorpg_screenshot.png') no-repeat left;
          padding-left: 1.75em;
        }

    &:hover{
      @extend %gallery_hover;
    }
  }
}
#edit_field_screenshot_category_tid_chosen {
  display: none !important;
}

