.section-sweepstakes {
  .pane-mmorpg-game-game-rss-link-block {
    a {
      position: relative;
      top: -0.40em;
    }
  }
  .views-exposed-form-sweepstakes-listing-listing-pane {
    .views-exposed-widget {
      margin-right: 0.50em;
    }
  }
  .views-more-link, .sharethis-wrapper {
    margin-top: 1em;
  }
  .giveaway_title {
    margin-bottom: 1em;
  }
}
