.section-sweepstakes {
  .pane-mmorpg-game-game-rss-link-block {
    a {
      position: relative;
      top: -0.40em;
    }
  }
  .views-exposed-form-sweepstakes-listing-listing-pane {
    .views-exposed-widget {
      margin-right: 0.50em;
    }
  }
  .views-more-link, .sharethis-wrapper {
    margin-top: 1em;
  }
  .giveaway_title {
    margin-bottom: 1em;
  }
}

.node-type-sweepstake {
  .pane-sweepstakes-sweepstakes-entry-block {
    text-align: center;
    border-top: 1px solid #ddd;
    margin-top: 2em;
  }
  .sweepstakes-entry-form {
    display: inline-block;
    height: 270px;
    .form-item {
      text-align: left;
      label {
        font-weight: lighter;
      }
    }
  }
  .sweepstakes-entry-form > div {
    background-color: #EEF9FF;
    padding: 2em;
    height: 100px;
    margin-top: 2em;
    margin: 2em auto;
    .form-submit {
      margin-top: 2em;
      padding: 1em;
      font-size: 18px;
    }
  }
}
