.trending {
	display: none;
	@include grid-span(12, 1);
	@include breakpoint(900px) {
		display: block;
	}
	height: 30px;
	margin-top: 0.50em;
	border-bottom: 1px solid $border-grey;
	.block__content {
		@include grid-span(10, 2);
		h3 {
			float: left;
			margin: 0;
			margin-right: 0.50em;
		}
		.trending_links {
			line-height: 19px;
			margin: 0;
			padding-left: 0;
			overflow-y: hidden;
			height: 20px;
			li {
				float: left;
				list-style: none;
				color: $grey;
				a {
					margin: 0px 4px;
				}
			}

			li:last-child span{
				display: none;
			}
		}
	}
}
