/* line 22, ../sass/abstractions/style-guide.scss */
.main {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  border: 1px solid green;
  height: 100vh; }
  @media (min-width: 1024px) {
    /* line 22, ../sass/abstractions/style-guide.scss */
    .main {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      clear: both; } }

/* line 31, ../sass/abstractions/style-guide.scss */
.ads-section {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  height: 100px;
  border: 1px solid red; }

/* line 36, ../sass/abstractions/style-guide.scss */
.ad1 {
  width: 40.67797%;
  float: left;
  margin-right: -100%;
  margin-left: 8.47458%;
  clear: none;
  background: red;
  height: 100px; }

/* line 41, ../sass/abstractions/style-guide.scss */
.ad2 {
  width: 40.67797%;
  float: left;
  margin-right: -100%;
  margin-left: 50.84746%;
  clear: none;
  background: orange;
  height: 100px; }

/* line 46, ../sass/abstractions/style-guide.scss */
.leftsidebar {
  display: none;
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  height: 100%;
  background: green; }
  @media (min-width: 1024px) {
    /* line 46, ../sass/abstractions/style-guide.scss */
    .leftsidebar {
      width: 15.25424%;
      float: left;
      margin-right: -100%;
      margin-left: 8.47458%;
      clear: none;
      display: block; } }

/* line 57, ../sass/abstractions/style-guide.scss */
.center-content {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  height: 100%;
  background: red; }
  @media (min-width: 1024px) {
    /* line 57, ../sass/abstractions/style-guide.scss */
    .center-content {
      width: 40.67797%;
      float: left;
      margin-right: -100%;
      margin-left: 25.42373%;
      clear: none; } }

/* line 65, ../sass/abstractions/style-guide.scss */
.rightsidebar {
  display: none;
  height: 100%;
  background: blue; }
  @media (min-width: 1024px) {
    /* line 65, ../sass/abstractions/style-guide.scss */
    .rightsidebar {
      width: 23.72881%;
      float: left;
      margin-right: -100%;
      margin-left: 67.79661%;
      clear: none;
      display: block; } }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 1, ../sass/base/_typography.scss */
a, a:link, a:visited {
  color: #31b4ff;
  text-decoration: none; }

/* line 6, ../sass/base/_typography.scss */
body {
  font-weight: 100;
  font-size: 14px; }

/* line 1, ../sass/components/_trending.scss */
.trending {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  height: 40px;
  border-bottom: 1px solid #dbdbdb; }
  /* line 5, ../sass/components/_trending.scss */
  .trending .block__content {
    width: 83.05085%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none; }
    /* line 7, ../sass/components/_trending.scss */
    .trending .block__content h3 {
      float: left;
      margin-right: 0.50em; }
    /* line 11, ../sass/components/_trending.scss */
    .trending .block__content .trending_links {
      line-height: 23px; }
      /* line 13, ../sass/components/_trending.scss */
      .trending .block__content .trending_links li {
        float: left;
        list-style: none;
        color: #959595; }
        /* line 17, ../sass/components/_trending.scss */
        .trending .block__content .trending_links li a {
          margin: 0px 4px; }
      /* line 22, ../sass/components/_trending.scss */
      .trending .block__content .trending_links li:last-child span {
        display: none; }

/*# sourceMappingURL=mmorpg.styles.css.map */
