/* line 1, ../sass/abstractions/_global.scss */
.breadcrumb {
  display: none; }

/* line 4, ../sass/abstractions/_global.scss */
.main {
  background: url("http://skywisenight.com/spec_rev7/content/skins/1_r5.jpg");
  background-color: #181818;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 160px; }

/* line 11, ../sass/abstractions/_global.scss */
.main-inner {
  width: 83.05085%;
  float: left;
  margin-right: -100%;
  margin-left: 8.47458%;
  clear: none;
  background: #ffffff; }

/* line 1, ../sass/abstractions/_header.scss */
.header {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  background: #fff;
  padding: 1.5em 0; }
  /* line 7, ../sass/abstractions/_header.scss */
  .header .l-constrained {
    width: 83.05085%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none; }
  /* line 10, ../sass/abstractions/_header.scss */
  .header .site-branding {
    float: left;
    margin-right: 0.50em; }
  /* line 14, ../sass/abstractions/_header.scss */
  .header .block--om-maximenu h2 {
    display: none; }
  /* line 18, ../sass/abstractions/_header.scss */
  .header .om-menu li {
    border-left: 1px solid #d7f0ff; }

/* line 24, ../sass/abstractions/_header.scss */
.advert-bar {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  height: 90px;
  background: #E2E2E2; }

/* line 22, ../sass/abstractions/style-guide.scss */
.main {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  border: 1px solid green; }
  @media (min-width: 1024px) {
    /* line 22, ../sass/abstractions/style-guide.scss */
    .main {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      clear: both; } }

/* line 30, ../sass/abstractions/style-guide.scss */
.ads-section {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  height: 100px;
  border: 1px solid red; }

/* line 35, ../sass/abstractions/style-guide.scss */
.ad1 {
  width: 40.67797%;
  float: left;
  margin-right: -100%;
  margin-left: 8.47458%;
  clear: none;
  background: red;
  height: 100px; }

/* line 40, ../sass/abstractions/style-guide.scss */
.ad2 {
  width: 40.67797%;
  float: left;
  margin-right: -100%;
  margin-left: 50.84746%;
  clear: none;
  background: orange;
  height: 100px; }

/* line 45, ../sass/abstractions/style-guide.scss */
.leftsidebar {
  display: none;
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  background: #333;
  height: 100vh; }
  @media (min-width: 1024px) {
    /* line 45, ../sass/abstractions/style-guide.scss */
    .leftsidebar {
      width: 15.25424%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none;
      display: block; } }

/* line 56, ../sass/abstractions/style-guide.scss */
.center-content {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }
  @media (min-width: 1024px) {
    /* line 56, ../sass/abstractions/style-guide.scss */
    .center-content {
      width: 49.15254%;
      float: left;
      margin-right: -100%;
      margin-left: 16.94915%;
      clear: none; } }

/* line 62, ../sass/abstractions/style-guide.scss */
.rightsidebar {
  display: none; }
  @media (min-width: 1024px) {
    /* line 62, ../sass/abstractions/style-guide.scss */
    .rightsidebar {
      width: 32.20339%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      display: block; } }

/* line 1, ../sass/base/_forms.scss */
.fullwidth {
  width: 100%; }

/* line 5, ../sass/base/_forms.scss */
.btn, .view-footer .om-autoscroll {
  background: #2186d4;
  color: #ffffff;
  border-radius: 3px;
  padding: 0.50em;
  margin-bottom: 0.50em; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 1, ../sass/base/_typography.scss */
a, a:link, a:visited {
  color: #31b4ff;
  text-decoration: none; }

/* line 6, ../sass/base/_typography.scss */
body {
  font-weight: 100;
  font-size: 14px; }

/* line 2, ../sass/components/_article.scss */
.node-type-mmorpg-article .node-collection-menu-level-1 {
  display: none; }
/* line 5, ../sass/components/_article.scss */
.node-type-mmorpg-article h1 {
  padding: 10px 15px 5px 0px;
  margin-left: 26px;
  margin: 0px;
  font-size: 35px;
  font-weight: normal;
  line-height: 1.2em; }
/* line 14, ../sass/components/_article.scss */
.node-type-mmorpg-article .node__submitted {
  font-size: 13px;
  padding: 6px 0px 15px 1px;
  border-top: 1px solid #bce6ff;
  display: inline-block;
  margin-top: 5px;
  color: #919191; }
/* line 23, ../sass/components/_article.scss */
.node-type-mmorpg-article .field--name-field-article-overview {
  display: none; }
/* line 27, ../sass/components/_article.scss */
.node-type-mmorpg-article .field__item {
  font-size: 14px;
  line-height: 1.6em;
  padding-top: 0px;
  margin-top: 0px; }
/* line 34, ../sass/components/_article.scss */
.node-type-mmorpg-article .article_top_image {
  padding: 0px; }
/* line 38, ../sass/components/_article.scss */
.node-type-mmorpg-article .article__body {
  font-size: 14px;
  line-height: 1.6em;
  margin: 0px 30px;
  top: -40px;
  margin-bottom: -40px;
  padding: 20px;
  background: #ffffff;
  border-top: 4px solid #bce6ff;
  max-width: 640px;
  position: relative; }
  /* line 50, ../sass/components/_article.scss */
  .node-type-mmorpg-article .article__body img {
    max-width: 640px;
    width: 100%; }

/* line 58, ../sass/components/_article.scss */
.block-views-id-latest_updates-block .views-field-field-article-hero-image {
  float: left;
  margin-right: 1em; }
/* line 62, ../sass/components/_article.scss */
.block-views-id-latest_updates-block .view-footer a {
  color: #ffffff; }

/* line 3, ../sass/components/_navigation.scss */
.om-menu .item-list ul {
  padding: 0; }
  /* line 5, ../sass/components/_navigation.scss */
  .om-menu .item-list ul li {
    border: 0;
    line-height: 20px;
    list-style: none;
    clear: both;
    height: 45px;
    padding: 1em 0.50em 0;
    margin-bottom: 1em; }
/* line 16, ../sass/components/_navigation.scss */
.om-menu li:hover {
  background: #bce6ff; }
  /* line 18, ../sass/components/_navigation.scss */
  .om-menu li:hover .om-maximenu-content {
    border-top: 5px solid #bce6ff; }

/* line 23, ../sass/components/_navigation.scss */
.om-maximenu .om-maximenu-middle {
  border-radius: 0 0 3px 3px; }

/* line 27, ../sass/components/_navigation.scss */
li.leaf-user-name .om-maximenu-middle {
  width: 320px; }
  /* line 30, ../sass/components/_navigation.scss */
  li.leaf-user-name .om-maximenu-middle .om-maximenu-middle-right {
    padding: 0px; }
  /* line 34, ../sass/components/_navigation.scss */
  li.leaf-user-name .om-maximenu-middle .views-row {
    width: 50%;
    height: 50%;
    display: inline-block;
    margin: 0px;
    border: 0px !important;
    margin-right: -4px;
    position: relative;
    margin-bottom: -3px;
    vertical-align: top; }
    /* line 45, ../sass/components/_navigation.scss */
    li.leaf-user-name .om-maximenu-middle .views-row a {
      color: #ffffff;
      padding: 0;
      background: transparent; }
    /* line 51, ../sass/components/_navigation.scss */
    li.leaf-user-name .om-maximenu-middle .views-row .updates_text {
      position: absolute;
      top: 0;
      width: 100%;
      height: 98%;
      background: url("../images/updates_bg.png"); }
      /* line 58, ../sass/components/_navigation.scss */
      li.leaf-user-name .om-maximenu-middle .views-row .updates_text:hover {
        background: none; }
      /* line 62, ../sass/components/_navigation.scss */
      li.leaf-user-name .om-maximenu-middle .views-row .updates_text .updates_title {
        bottom: 0.5em;
        font-size: 16px;
        font-weight: 400;
        padding: 10px;
        position: absolute; }
      /* line 70, ../sass/components/_navigation.scss */
      li.leaf-user-name .om-maximenu-middle .views-row .updates_text .updates_type {
        color: #bfcad1;
        display: block;
        padding: 10px 0px 0px 10px;
        position: absolute;
        top: 0;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8); }

/* line 1, ../sass/components/_trending.scss */
.trending {
  display: none;
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  height: 30px;
  margin-top: 0.50em;
  border-bottom: 1px solid #dbdbdb; }
  @media (min-width: 900px) {
    /* line 1, ../sass/components/_trending.scss */
    .trending {
      display: block; } }
  /* line 10, ../sass/components/_trending.scss */
  .trending .block__content {
    width: 83.05085%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none; }
    /* line 12, ../sass/components/_trending.scss */
    .trending .block__content h3 {
      float: left;
      margin: 0;
      margin-right: 0.50em; }
    /* line 17, ../sass/components/_trending.scss */
    .trending .block__content .trending_links {
      line-height: 19px;
      margin: 0; }
      /* line 20, ../sass/components/_trending.scss */
      .trending .block__content .trending_links li {
        float: left;
        list-style: none;
        color: #959595; }
        /* line 24, ../sass/components/_trending.scss */
        .trending .block__content .trending_links li a {
          margin: 0px 4px; }
      /* line 29, ../sass/components/_trending.scss */
      .trending .block__content .trending_links li:last-child span {
        display: none; }
