/* line 1, ../sass/abstractions/_header.scss */
.header {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  border-bottom: 1px solid #dbdbdb;
  background: #fff; }
  /* line 5, ../sass/abstractions/_header.scss */
  .header .l-constrained {
    width: 83.05085%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none; }

/* line 10, ../sass/abstractions/_header.scss */
.advert-bar {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  height: 90px;
  background: #E2E2E2; }

/* line 22, ../sass/abstractions/style-guide.scss */
.main {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  border: 1px solid green;
  height: 100vh; }

/* line 31, ../sass/abstractions/style-guide.scss */
.ads-section {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  height: 100px;
  border: 1px solid red; }

/* line 36, ../sass/abstractions/style-guide.scss */
.ad1 {
  width: 40.67797%;
  float: left;
  margin-right: -100%;
  margin-left: 8.47458%;
  clear: none;
  background: red;
  height: 100px; }

/* line 41, ../sass/abstractions/style-guide.scss */
.ad2 {
  width: 40.67797%;
  float: left;
  margin-right: -100%;
  margin-left: 50.84746%;
  clear: none;
  background: orange;
  height: 100px; }

/* line 46, ../sass/abstractions/style-guide.scss */
.leftsidebar {
  display: none;
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  height: 100%;
  background: green; }

/* line 57, ../sass/abstractions/style-guide.scss */
.center-content {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  height: 100%;
  background: red; }

/* line 65, ../sass/abstractions/style-guide.scss */
.rightsidebar {
  display: none;
  height: 100%;
  background: blue; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 1, ../sass/base/_typography.scss */
a, a:link, a:visited {
  color: #31b4ff;
  text-decoration: none; }

/* line 6, ../sass/base/_typography.scss */
body {
  font-weight: 100;
  font-size: 14px; }

/* line 1, ../sass/components/_trending.scss */
.trending {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  height: 40px;
  border-bottom: 1px solid #dbdbdb; }
  /* line 5, ../sass/components/_trending.scss */
  .trending .block__content {
    width: 83.05085%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none; }
    /* line 7, ../sass/components/_trending.scss */
    .trending .block__content h3 {
      float: left;
      margin-right: 0.50em; }
    /* line 11, ../sass/components/_trending.scss */
    .trending .block__content .trending_links {
      line-height: 23px; }
      /* line 13, ../sass/components/_trending.scss */
      .trending .block__content .trending_links li {
        float: left;
        list-style: none;
        color: #959595; }
        /* line 17, ../sass/components/_trending.scss */
        .trending .block__content .trending_links li a {
          margin: 0px 4px; }
      /* line 22, ../sass/components/_trending.scss */
      .trending .block__content .trending_links li:last-child span {
        display: none; }

/*# sourceMappingURL=mmorpg.no-query.css.map */
