/* ==========================================================================
   Gallery pages common styles
   ========================================================================== */
/* line 4, ../sass/variables/_mixins.scss */
.pane-screenshot-gallery-grid .views-row, .pane-video-gallery-grid .views-row {
  display: inline-block;
  float: left;
  margin: 0 5px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  width: 100%;
  height: auto; }

/* line 15, ../sass/variables/_mixins.scss */
.pane-screenshot-gallery-grid .screenshot_hover, .pane-video-gallery-grid .video_hover {
  color: #bfcad1;
  position: absolute;
  top: 0;
  width: 100%;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
  background: url("../images/updates_bg.png"); }

/* line 24, ../sass/variables/_mixins.scss */
.pane-screenshot-gallery-grid .screenshot_hover:hover, .pane-video-gallery-grid .video_hover:hover {
  background: none; }

/* ==========================================================================
   Node pages common styles
   ========================================================================== */
/* line 31, ../sass/variables/_mixins.scss */
.node-type-mmorpg-article .field--name-field-article-news-post, .pane-video-exclusive .views-row .views-field-body .field-content {
  background: #ffffff;
  border-top: 4px solid #bce6ff;
  font-size: 14px;
  line-height: 1.6em;
  margin: 0 auto;
  margin-bottom: -20px;
  padding: 20px;
  position: relative;
  width: 92%; }

/* ==========================================================================
   Play Now Buttons and filters
   ========================================================================== */
/* line 46, ../sass/variables/_mixins.scss */
.pane-mmorpg-signup-now-play-now-page-filters h2.pane-title + div, .pane-mmorpg-signup-now-play-now-page-filters a, .view-play-now .play_now_url a,
.view-play-now .promoted_play_now_url a, .view-play-now .play_now_more a,
.view-play-now .promoted_play_now_more a, .view-play-now .promoted_play_now_block .promoted_play_now_content .promoted_play_now_url a, .view-play-now .promoted_play_now_block .promoted_play_now_content .promoted_play_now_more a {
  color: #ffffff !important;
  display: inline-block;
  padding: 6px 7px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 1px;
  white-space: nowrap;
  margin-right: 6px;
  margin-bottom: 6px; }

/* ==========================================================================
   Platforms
   ========================================================================== */
/* line 64, ../sass/variables/_mixins.scss */
.view-play-now .play_now_row_header .play_now_platforms ul li,
.view-play-now .play_now_row_header .promoted_play_now_platforms ul li,
.view-play-now .promoted_play_now_row_header .play_now_platforms ul li,
.view-play-now .promoted_play_now_row_header .promoted_play_now_platforms ul li {
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-color: transparent; }

/* line 70, ../sass/variables/_mixins.scss */
.view-play-now .play_now_row_header .play_now_platforms ul li.android,
.view-play-now .play_now_row_header .promoted_play_now_platforms ul li.android,
.view-play-now .promoted_play_now_row_header .play_now_platforms ul li.android,
.view-play-now .promoted_play_now_row_header .promoted_play_now_platforms ul li.android {
  background-image: url("../images/android.gif"); }

/* line 74, ../sass/variables/_mixins.scss */
.view-play-now .play_now_row_header .play_now_platforms ul li.dreamcast,
.view-play-now .play_now_row_header .promoted_play_now_platforms ul li.dreamcast,
.view-play-now .promoted_play_now_row_header .play_now_platforms ul li.dreamcast,
.view-play-now .promoted_play_now_row_header .promoted_play_now_platforms ul li.dreamcast {
  background-image: url("../images/dreamcast.png"); }

/* line 78, ../sass/variables/_mixins.scss */
.view-play-now .play_now_row_header .play_now_platforms ul li.ios,
.view-play-now .play_now_row_header .promoted_play_now_platforms ul li.ios,
.view-play-now .promoted_play_now_row_header .play_now_platforms ul li.ios,
.view-play-now .promoted_play_now_row_header .promoted_play_now_platforms ul li.ios {
  background-image: url("../images/ios.png"); }

/* line 82, ../sass/variables/_mixins.scss */
.view-play-now .play_now_row_header .play_now_platforms ul li.linux,
.view-play-now .play_now_row_header .promoted_play_now_platforms ul li.linux,
.view-play-now .promoted_play_now_row_header .play_now_platforms ul li.linux,
.view-play-now .promoted_play_now_row_header .promoted_play_now_platforms ul li.linux {
  background-image: url("../images/linux.gif"); }

/* line 86, ../sass/variables/_mixins.scss */
.view-play-now .play_now_row_header .play_now_platforms ul li.mac,
.view-play-now .play_now_row_header .promoted_play_now_platforms ul li.mac,
.view-play-now .promoted_play_now_row_header .play_now_platforms ul li.mac,
.view-play-now .promoted_play_now_row_header .promoted_play_now_platforms ul li.mac {
  background-image: url("../images/mac.gif"); }

/* line 90, ../sass/variables/_mixins.scss */
.view-play-now .play_now_row_header .play_now_platforms ul li.mobiledevices,
.view-play-now .play_now_row_header .promoted_play_now_platforms ul li.mobiledevices,
.view-play-now .promoted_play_now_row_header .play_now_platforms ul li.mobiledevices,
.view-play-now .promoted_play_now_row_header .promoted_play_now_platforms ul li.mobiledevices {
  background-image: url("../images/mobile.png"); }

/* line 94, ../sass/variables/_mixins.scss */
.view-play-now .play_now_row_header .play_now_platforms ul li.pc,
.view-play-now .play_now_row_header .promoted_play_now_platforms ul li.pc,
.view-play-now .promoted_play_now_row_header .play_now_platforms ul li.pc,
.view-play-now .promoted_play_now_row_header .promoted_play_now_platforms ul li.pc {
  background-image: url("../images/pc.gif"); }

/* line 98, ../sass/variables/_mixins.scss */
.view-play-now .play_now_row_header .play_now_platforms ul li.playstation2,
.view-play-now .play_now_row_header .promoted_play_now_platforms ul li.playstation2,
.view-play-now .promoted_play_now_row_header .play_now_platforms ul li.playstation2,
.view-play-now .promoted_play_now_row_header .promoted_play_now_platforms ul li.playstation2 {
  background-image: url("../images/ps2.jpg"); }

/* line 102, ../sass/variables/_mixins.scss */
.view-play-now .play_now_row_header .play_now_platforms ul li.ps3,
.view-play-now .play_now_row_header .promoted_play_now_platforms ul li.ps3,
.view-play-now .promoted_play_now_row_header .play_now_platforms ul li.ps3,
.view-play-now .promoted_play_now_row_header .promoted_play_now_platforms ul li.ps3 {
  background-image: url("../images/ps3.jpg"); }

/* line 106, ../sass/variables/_mixins.scss */
.view-play-now .play_now_row_header .play_now_platforms ul li.playstation4,
.view-play-now .play_now_row_header .promoted_play_now_platforms ul li.playstation4,
.view-play-now .promoted_play_now_row_header .play_now_platforms ul li.playstation4,
.view-play-now .promoted_play_now_row_header .promoted_play_now_platforms ul li.playstation4 {
  background-image: url("../images/ps4.jpg"); }

/* line 110, ../sass/variables/_mixins.scss */
.view-play-now .play_now_row_header .play_now_platforms ul li.wii,
.view-play-now .play_now_row_header .promoted_play_now_platforms ul li.wii,
.view-play-now .promoted_play_now_row_header .play_now_platforms ul li.wii,
.view-play-now .promoted_play_now_row_header .promoted_play_now_platforms ul li.wii {
  background-image: url("../images/wii.jpg"); }

/* line 114, ../sass/variables/_mixins.scss */
.view-play-now .play_now_row_header .play_now_platforms ul li.wiiu,
.view-play-now .play_now_row_header .promoted_play_now_platforms ul li.wiiu,
.view-play-now .promoted_play_now_row_header .play_now_platforms ul li.wiiu,
.view-play-now .promoted_play_now_row_header .promoted_play_now_platforms ul li.wiiu {
  background-image: url("../images/wiiu.png"); }

/* line 118, ../sass/variables/_mixins.scss */
.view-play-now .play_now_row_header .play_now_platforms ul li.xbox,
.view-play-now .play_now_row_header .promoted_play_now_platforms ul li.xbox,
.view-play-now .promoted_play_now_row_header .play_now_platforms ul li.xbox,
.view-play-now .promoted_play_now_row_header .promoted_play_now_platforms ul li.xbox {
  background-image: url("../images/xbox.jpg"); }

/* line 122, ../sass/variables/_mixins.scss */
.view-play-now .play_now_row_header .play_now_platforms ul li.xbox360,
.view-play-now .play_now_row_header .promoted_play_now_platforms ul li.xbox360,
.view-play-now .promoted_play_now_row_header .play_now_platforms ul li.xbox360,
.view-play-now .promoted_play_now_row_header .promoted_play_now_platforms ul li.xbox360 {
  background-image: url("../images/xbox360.jpg"); }

/* line 126, ../sass/variables/_mixins.scss */
.view-play-now .play_now_row_header .play_now_platforms ul li.xboxone,
.view-play-now .play_now_row_header .promoted_play_now_platforms ul li.xboxone,
.view-play-now .promoted_play_now_row_header .play_now_platforms ul li.xboxone,
.view-play-now .promoted_play_now_row_header .promoted_play_now_platforms ul li.xboxone {
  background-image: url("../images/xboxone.png"); }

/* line 1, ../sass/abstractions/_global.scss */
.hidden {
  display: none; }

/* line 4, ../sass/abstractions/_global.scss */
.breadcrumb {
  display: none; }

/* line 7, ../sass/abstractions/_global.scss */
.main {
  padding-top: 160px; }

/* line 10, ../sass/abstractions/_global.scss */
.main-inner {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  background-color: #ffffff; }

/* line 1, ../sass/abstractions/_header.scss */
header.header {
  padding-top: 0; }

/* line 3, ../sass/abstractions/_header.scss */
.header {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  background: #fff;
  padding: 1.5em 0; }
  /* line 10, ../sass/abstractions/_header.scss */
  .l-region--header .header {
    padding-top: 1.5em; }
  /* line 14, ../sass/abstractions/_header.scss */
  .header .l-constrained {
    width: 83.05085%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none; }
  /* line 17, ../sass/abstractions/_header.scss */
  .header .pane-logo-block-logo {
    float: left;
    margin-right: 0.50em; }
  /* line 21, ../sass/abstractions/_header.scss */
  .header .block--om-maximenu h2 {
    display: none; }
  /* line 25, ../sass/abstractions/_header.scss */
  .header .om-menu li {
    border-left: 1px solid #d7f0ff; }

/* line 31, ../sass/abstractions/_header.scss */
.advert-bar {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  height: 90px;
  background: #E2E2E2; }

/* line 1, ../sass/abstractions/_siteskin.scss */
.main-inner {
  position: relative;
  z-index: 2; }

/* line 5, ../sass/abstractions/_siteskin.scss */
.pane-siteskins-rendering {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 16em; }
  /* line 10, ../sass/abstractions/_siteskin.scss */
  .pane-siteskins-rendering .skin-tracking-link {
    height: 100vh;
    width: 100%; }

/* line 22, ../sass/abstractions/style-guide.scss */
.main {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  border: 1px solid green; }

/* line 30, ../sass/abstractions/style-guide.scss */
.ads-section {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  height: 100px;
  border: 1px solid red; }

/* line 35, ../sass/abstractions/style-guide.scss */
.ad1 {
  width: 40.67797%;
  float: left;
  margin-right: -100%;
  margin-left: 8.47458%;
  clear: none;
  background: red;
  height: 100px; }

/* line 40, ../sass/abstractions/style-guide.scss */
.ad2 {
  width: 40.67797%;
  float: left;
  margin-right: -100%;
  margin-left: 50.84746%;
  clear: none;
  background: orange;
  height: 100px; }

/* line 45, ../sass/abstractions/style-guide.scss */
.leftsidebar {
  display: none;
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  background: #333;
  height: 100vh; }

/* line 56, ../sass/abstractions/style-guide.scss */
.center-content {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/* line 62, ../sass/abstractions/style-guide.scss */
.rightsidebar {
  display: none; }

/* line 1, ../sass/base/_forms.scss */
.fullwidth, .view-footer .om-autoscroll {
  width: 100%;
  display: inline-block;
  text-align: center; }

/* line 7, ../sass/base/_forms.scss */
.btn, .view-footer .om-autoscroll {
  background: #2186d4;
  color: #ffffff;
  border-radius: 3px;
  padding: 0.75em 0.50em;
  margin-bottom: 0.50em; }
  /* line 13, ../sass/base/_forms.scss */
  .btn:hover, .view-footer .om-autoscroll:hover {
    background: #2b94e4; }

/* line 2, ../sass/base/_lists.scss */
.sidebar-listing .view-content {
  line-height: 28px; }
/* line 5, ../sass/base/_lists.scss */
.sidebar-listing .views-row {
  border-bottom: 1px solid #cecece;
  padding: 0.50em; }
  /* line 8, ../sass/base/_lists.scss */
  .sidebar-listing .views-row .views-field-field-game-hero-image {
    float: left;
    margin-right: 0.50em; }
  /* line 12, ../sass/base/_lists.scss */
  .sidebar-listing .views-row:hover {
    background-color: #e9f8ff !important; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 1, ../sass/base/_typography.scss */
a, a:link, a:visited {
  color: #31b4ff;
  text-decoration: none; }

/* line 6, ../sass/base/_typography.scss */
body {
  font-weight: 100;
  font-size: 14px; }

/* line 2, ../sass/components/_article.scss */
.node-type-mmorpg-article .node--mmorpg-article .field__item img {
  max-width: 100%;
  height: auto !important;
  width: 100%; }
/* line 8, ../sass/components/_article.scss */
.node-type-mmorpg-article h1 {
  padding: 10px 15px 5px 0px;
  margin-left: 26px;
  margin: 0px;
  font-size: 35px;
  font-weight: normal;
  line-height: 1.2em; }
/* line 17, ../sass/components/_article.scss */
.node-type-mmorpg-article .node__submitted {
  font-size: 13px;
  padding: 6px 0px 15px 1px;
  border-top: 1px solid #bce6ff;
  display: inline-block;
  margin-top: 5px;
  color: #959595; }
/* line 26, ../sass/components/_article.scss */
.node-type-mmorpg-article .field--name-field-article-overview {
  display: none; }
/* line 30, ../sass/components/_article.scss */
.node-type-mmorpg-article .field__item {
  font-size: 14px;
  line-height: 1.6em;
  padding-top: 0px;
  margin-top: 0px; }
/* line 37, ../sass/components/_article.scss */
.node-type-mmorpg-article .field--name-field-article-hero-image {
  padding: 0px; }
/* line 41, ../sass/components/_article.scss */
.node-type-mmorpg-article .field--name-field-article-news-post {
  top: -20px; }
  /* line 49, ../sass/components/_article.scss */
  .node-type-mmorpg-article .field--name-field-article-news-post img {
    max-width: 715px;
    width: 100%; }

/* line 57, ../sass/components/_article.scss */
.block-views-id-latest_updates-block .views-field-title span {
  width: 100%; }
  /* line 59, ../sass/components/_article.scss */
  .block-views-id-latest_updates-block .views-field-title span a {
    min-height: 45px;
    display: inline-block;
    width: 100%; }
    /* line 63, ../sass/components/_article.scss */
    .block-views-id-latest_updates-block .views-field-title span a img {
      float: left;
      margin-right: 0.50em; }
/* line 69, ../sass/components/_article.scss */
.block-views-id-latest_updates-block .view-footer a {
  color: #ffffff; }

/* line 8, ../sass/components/_filters.scss */
.pane-mmorpg-signup-now-play-now-page-filters h2.pane-title {
  padding: 10px 15px 5px 0px;
  margin: 0px;
  font-size: 35px;
  font-weight: normal;
  line-height: 1.2em; }
/* line 16, ../sass/components/_filters.scss */
.pane-mmorpg-signup-now-play-now-page-filters h2.pane-title + div {
  background: #65c015; }
  /* line 20, ../sass/components/_filters.scss */
  .pane-mmorpg-signup-now-play-now-page-filters h2.pane-title + div + a {
    background: #2186d4; }
/* line 25, ../sass/components/_filters.scss */
.pane-mmorpg-signup-now-play-now-page-filters a {
  background: #707070; }

/* line 3, ../sass/components/_navigation.scss */
.om-menu .item-list ul {
  padding: 0; }
  /* line 5, ../sass/components/_navigation.scss */
  .om-menu .item-list ul li {
    border: 0;
    line-height: 22px;
    list-style: none;
    clear: both;
    min-height: 45px;
    margin-bottom: 1em; }
/* line 15, ../sass/components/_navigation.scss */
.om-menu li:hover {
  background: #bce6ff; }
  /* line 17, ../sass/components/_navigation.scss */
  .om-menu li:hover .om-maximenu-content {
    border-top: 5px solid #bce6ff; }

/* line 22, ../sass/components/_navigation.scss */
.om-maximenu .om-maximenu-middle {
  border-radius: 0 0 3px 3px; }

/* line 26, ../sass/components/_navigation.scss */
li.leaf-user-name .om-maximenu-middle {
  width: 320px; }
  /* line 29, ../sass/components/_navigation.scss */
  li.leaf-user-name .om-maximenu-middle .om-maximenu-middle-right {
    padding: 0px; }
  /* line 33, ../sass/components/_navigation.scss */
  li.leaf-user-name .om-maximenu-middle .views-row {
    width: 50%;
    height: 50%;
    display: inline-block;
    margin: 0px;
    border: 0px !important;
    margin-right: -4px;
    position: relative;
    margin-bottom: -3px;
    vertical-align: top; }
    /* line 44, ../sass/components/_navigation.scss */
    li.leaf-user-name .om-maximenu-middle .views-row a {
      color: #ffffff;
      padding: 0;
      background: transparent; }
    /* line 50, ../sass/components/_navigation.scss */
    li.leaf-user-name .om-maximenu-middle .views-row .updates_text {
      position: absolute;
      top: 0;
      width: 100%;
      height: 98%;
      background: url("../images/updates_bg.png"); }
      /* line 57, ../sass/components/_navigation.scss */
      li.leaf-user-name .om-maximenu-middle .views-row .updates_text:hover {
        background: none; }
      /* line 61, ../sass/components/_navigation.scss */
      li.leaf-user-name .om-maximenu-middle .views-row .updates_text .updates_title {
        bottom: 0.5em;
        font-size: 16px;
        font-weight: 400;
        padding: 0px;
        position: absolute; }
      /* line 69, ../sass/components/_navigation.scss */
      li.leaf-user-name .om-maximenu-middle .views-row .updates_text .updates_type {
        color: #bfcad1;
        display: block;
        padding: 10px 0px 0px 10px;
        position: absolute;
        top: 0;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
        z-index: 1; }
        /* line 78, ../sass/components/_navigation.scss */
        li.leaf-user-name .om-maximenu-middle .views-row .updates_text .updates_type a {
          color: #bfcad1; }
      /* line 83, ../sass/components/_navigation.scss */
      li.leaf-user-name .om-maximenu-middle .views-row .updates_text a.content_link {
        display: block;
        z-index: 2;
        height: 128px;
        width: 160px; }

/* line 93, ../sass/components/_navigation.scss */
.game-sub-menu {
  background: #333333;
  padding: 1em;
  margin-bottom: 1em; }
  /* line 97, ../sass/components/_navigation.scss */
  .game-sub-menu a {
    padding: 0.50em;
    border: 1px solid transparent;
    color: #ffffff; }
    /* line 101, ../sass/components/_navigation.scss */
    .game-sub-menu a:hover, .game-sub-menu a.active {
      color: #2186d4; }

/* line 1, ../sass/components/_pager.scss */
ul.pager {
  padding-top: 20px; }
  /* line 4, ../sass/components/_pager.scss */
  ul.pager li {
    line-height: 40px;
    font-size: 1.2em;
    font-weight: 100;
    background: #65c015;
    color: #ffffff;
    display: inline-block;
    margin-right: 3px;
    padding: 0; }
    /* line 14, ../sass/components/_pager.scss */
    ul.pager li.pager__item--current {
      background: #707070;
      padding: 6px 17px; }
    /* line 19, ../sass/components/_pager.scss */
    ul.pager li:hover {
      background: #2186d4; }
    /* line 23, ../sass/components/_pager.scss */
    ul.pager li a {
      color: #ffffff;
      padding: 6px 17px;
      display: block; }
    /* line 29, ../sass/components/_pager.scss */
    ul.pager li.pager__item--first, ul.pager li.pager__item--previous, ul.pager li.pager__item--next, ul.pager li.pager__item--last {
      display: none; }

/* line 1, ../sass/components/_play-now.scss */
.pane-play-now-slider {
  overflow: hidden;
  overflow-x: auto;
  max-height: 172px !important;
  padding: 20px;
  background: #342D44; }
  /* line 12, ../sass/components/_play-now.scss */
  .pane-play-now-slider .view-play-now-slider {
    width: 150%;
    position: static; }
  /* line 17, ../sass/components/_play-now.scss */
  .pane-play-now-slider .views-row {
    float: left;
    margin-right: 0.75em;
    position: relative; }
    /* line 22, ../sass/components/_play-now.scss */
    .pane-play-now-slider .views-row .views-field-nothing {
      color: #bfcad1;
      position: absolute;
      padding: 10px;
      top: 0;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8); }
    /* line 30, ../sass/components/_play-now.scss */
    .pane-play-now-slider .views-row img {
      border-bottom: 4px solid #bce6ff; }
      /* line 33, ../sass/components/_play-now.scss */
      .pane-play-now-slider .views-row img:hover {
        border-bottom: 4px solid #1879cd; }

/* line 43, ../sass/components/_play-now.scss */
.view-play-now .views-row {
  padding: 10px; }
/* line 49, ../sass/components/_play-now.scss */
.view-play-now .play_now_row_header .play_now_title,
.view-play-now .play_now_row_header .promoted_play_now_title,
.view-play-now .promoted_play_now_row_header .play_now_title,
.view-play-now .promoted_play_now_row_header .promoted_play_now_title {
  display: inline-block; }
  /* line 52, ../sass/components/_play-now.scss */
  .view-play-now .play_now_row_header .play_now_title a,
  .view-play-now .play_now_row_header .promoted_play_now_title a,
  .view-play-now .promoted_play_now_row_header .play_now_title a,
  .view-play-now .promoted_play_now_row_header .promoted_play_now_title a {
    color: #70b9ed;
    padding-bottom: 10px;
    font-size: 32px;
    display: block;
    box-sizing: border-box;
    font-weight: 400; }
/* line 62, ../sass/components/_play-now.scss */
.view-play-now .play_now_row_header .play_now_platforms,
.view-play-now .play_now_row_header .promoted_play_now_platforms,
.view-play-now .promoted_play_now_row_header .play_now_platforms,
.view-play-now .promoted_play_now_row_header .promoted_play_now_platforms {
  display: inline-block;
  vertical-align: bottom; }
  /* line 66, ../sass/components/_play-now.scss */
  .view-play-now .play_now_row_header .play_now_platforms ul,
  .view-play-now .play_now_row_header .promoted_play_now_platforms ul,
  .view-play-now .promoted_play_now_row_header .play_now_platforms ul,
  .view-play-now .promoted_play_now_row_header .promoted_play_now_platforms ul {
    padding: 0;
    list-style: none; }
    /* line 69, ../sass/components/_play-now.scss */
    .view-play-now .play_now_row_header .play_now_platforms ul li,
    .view-play-now .play_now_row_header .promoted_play_now_platforms ul li,
    .view-play-now .promoted_play_now_row_header .play_now_platforms ul li,
    .view-play-now .promoted_play_now_row_header .promoted_play_now_platforms ul li {
      display: inline-block;
      height: 18px;
      width: 18px; }
      /* line 79, ../sass/components/_play-now.scss */
      .view-play-now .play_now_row_header .play_now_platforms ul li.dreamcast,
      .view-play-now .play_now_row_header .promoted_play_now_platforms ul li.dreamcast,
      .view-play-now .promoted_play_now_row_header .play_now_platforms ul li.dreamcast,
      .view-play-now .promoted_play_now_row_header .promoted_play_now_platforms ul li.dreamcast {
        width: 24px; }
      /* line 84, ../sass/components/_play-now.scss */
      .view-play-now .play_now_row_header .play_now_platforms ul li.ios,
      .view-play-now .play_now_row_header .promoted_play_now_platforms ul li.ios,
      .view-play-now .promoted_play_now_row_header .play_now_platforms ul li.ios,
      .view-play-now .promoted_play_now_row_header .promoted_play_now_platforms ul li.ios {
        width: 34px; }
      /* line 105, ../sass/components/_play-now.scss */
      .view-play-now .play_now_row_header .play_now_platforms ul li.playstation2,
      .view-play-now .play_now_row_header .promoted_play_now_platforms ul li.playstation2,
      .view-play-now .promoted_play_now_row_header .play_now_platforms ul li.playstation2,
      .view-play-now .promoted_play_now_row_header .promoted_play_now_platforms ul li.playstation2 {
        width: 52px; }
      /* line 110, ../sass/components/_play-now.scss */
      .view-play-now .play_now_row_header .play_now_platforms ul li.ps3,
      .view-play-now .play_now_row_header .promoted_play_now_platforms ul li.ps3,
      .view-play-now .promoted_play_now_row_header .play_now_platforms ul li.ps3,
      .view-play-now .promoted_play_now_row_header .promoted_play_now_platforms ul li.ps3 {
        width: 44px; }
      /* line 115, ../sass/components/_play-now.scss */
      .view-play-now .play_now_row_header .play_now_platforms ul li.playstation4,
      .view-play-now .play_now_row_header .promoted_play_now_platforms ul li.playstation4,
      .view-play-now .promoted_play_now_row_header .play_now_platforms ul li.playstation4,
      .view-play-now .promoted_play_now_row_header .promoted_play_now_platforms ul li.playstation4 {
        width: 50px; }
      /* line 120, ../sass/components/_play-now.scss */
      .view-play-now .play_now_row_header .play_now_platforms ul li.wii,
      .view-play-now .play_now_row_header .promoted_play_now_platforms ul li.wii,
      .view-play-now .promoted_play_now_row_header .play_now_platforms ul li.wii,
      .view-play-now .promoted_play_now_row_header .promoted_play_now_platforms ul li.wii {
        width: 30px; }
      /* line 125, ../sass/components/_play-now.scss */
      .view-play-now .play_now_row_header .play_now_platforms ul li.wiiu,
      .view-play-now .play_now_row_header .promoted_play_now_platforms ul li.wiiu,
      .view-play-now .promoted_play_now_row_header .play_now_platforms ul li.wiiu,
      .view-play-now .promoted_play_now_row_header .promoted_play_now_platforms ul li.wiiu {
        width: 57px; }
      /* line 130, ../sass/components/_play-now.scss */
      .view-play-now .play_now_row_header .play_now_platforms ul li.xbox,
      .view-play-now .play_now_row_header .promoted_play_now_platforms ul li.xbox,
      .view-play-now .promoted_play_now_row_header .play_now_platforms ul li.xbox,
      .view-play-now .promoted_play_now_row_header .promoted_play_now_platforms ul li.xbox {
        width: 24px; }
      /* line 135, ../sass/components/_play-now.scss */
      .view-play-now .play_now_row_header .play_now_platforms ul li.xbox360,
      .view-play-now .play_now_row_header .promoted_play_now_platforms ul li.xbox360,
      .view-play-now .promoted_play_now_row_header .play_now_platforms ul li.xbox360,
      .view-play-now .promoted_play_now_row_header .promoted_play_now_platforms ul li.xbox360 {
        width: 30px; }
      /* line 140, ../sass/components/_play-now.scss */
      .view-play-now .play_now_row_header .play_now_platforms ul li.xboxone,
      .view-play-now .play_now_row_header .promoted_play_now_platforms ul li.xboxone,
      .view-play-now .promoted_play_now_row_header .play_now_platforms ul li.xboxone,
      .view-play-now .promoted_play_now_row_header .promoted_play_now_platforms ul li.xboxone {
        width: 30px; }
/* line 152, ../sass/components/_play-now.scss */
.view-play-now .play_now_row_details .play_now_details,
.view-play-now .play_now_row_details .promoted_play_now_details,
.view-play-now .promoted_play_now_row_details .play_now_details,
.view-play-now .promoted_play_now_row_details .promoted_play_now_details {
  display: inline-block; }
/* line 157, ../sass/components/_play-now.scss */
.view-play-now .play_now_row_details .play_now_status > span,
.view-play-now .play_now_row_details .promoted_play_now_status > span,
.view-play-now .promoted_play_now_row_details .play_now_status > span,
.view-play-now .promoted_play_now_row_details .promoted_play_now_status > span {
  display: inline-block; }
/* line 162, ../sass/components/_play-now.scss */
.view-play-now .play_now_row_details span.content,
.view-play-now .promoted_play_now_row_details span.content {
  font-weight: 600; }
/* line 167, ../sass/components/_play-now.scss */
.view-play-now .play_now_body,
.view-play-now .promoted_play_now_body {
  line-height: 1.55em; }
/* line 174, ../sass/components/_play-now.scss */
.view-play-now .play_now_screenshots .views-row,
.view-play-now .promoted_play_now_screenshots .views-row {
  max-width: 120px;
  padding: 0;
  display: inline-block;
  margin-right: 3px; }
  /* line 180, ../sass/components/_play-now.scss */
  .view-play-now .play_now_screenshots .views-row:first-child,
  .view-play-now .promoted_play_now_screenshots .views-row:first-child {
    max-width: 160px; }
/* line 186, ../sass/components/_play-now.scss */
.view-play-now .play_now_row_footer,
.view-play-now .promoted_play_now_row_footer {
  padding-top: 8px; }
  /* line 190, ../sass/components/_play-now.scss */
  .view-play-now .play_now_row_footer .play_now_url,
  .view-play-now .play_now_row_footer .promoted_play_now_url,
  .view-play-now .play_now_row_footer .play_now_more,
  .view-play-now .play_now_row_footer .promoted_play_now_more,
  .view-play-now .promoted_play_now_row_footer .play_now_url,
  .view-play-now .promoted_play_now_row_footer .promoted_play_now_url,
  .view-play-now .promoted_play_now_row_footer .play_now_more,
  .view-play-now .promoted_play_now_row_footer .promoted_play_now_more {
    display: inline-block; }
/* line 199, ../sass/components/_play-now.scss */
.view-play-now .play_now_url a,
.view-play-now .promoted_play_now_url a {
  background: #65c015; }
/* line 205, ../sass/components/_play-now.scss */
.view-play-now .play_now_more a,
.view-play-now .promoted_play_now_more a {
  background: #707070; }
/* line 211, ../sass/components/_play-now.scss */
.view-play-now .promoted_play_now_block {
  margin-bottom: 20px;
  color: #ffffff;
  position: relative;
  height: 360px;
  width: 880px; }
  /* line 218, ../sass/components/_play-now.scss */
  .view-play-now .promoted_play_now_block .promoted_play_now_background {
    position: absolute;
    z-index: -1; }
  /* line 223, ../sass/components/_play-now.scss */
  .view-play-now .promoted_play_now_block .promoted_play_now_content {
    padding: 20px 20px 15px 20px;
    text-shadow: 0 1px 3px #000000; }
    /* line 227, ../sass/components/_play-now.scss */
    .view-play-now .promoted_play_now_block .promoted_play_now_content .promoted_play_now_url a {
      background: #65c015;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 1.4em;
      border-radius: 3px;
      line-height: 40px; }
    /* line 237, ../sass/components/_play-now.scss */
    .view-play-now .promoted_play_now_block .promoted_play_now_content .promoted_play_now_more a {
      background: transparent; }
    /* line 242, ../sass/components/_play-now.scss */
    .view-play-now .promoted_play_now_block .promoted_play_now_content .promoted_play_now_screenshots img {
      border: 1px solid #636363 !important; }

/* line 1, ../sass/components/_rightsidebar.scss */
.rightsidebar {
  padding: 0 10px; }
  /* line 3, ../sass/components/_rightsidebar.scss */
  .rightsidebar h2.block__title,
  .rightsidebar h2.pane-title {
    font-size: 18px;
    font-weight: normal;
    border-bottom: 3px solid #bce6ff;
    margin-bottom: 0;
    padding-bottom: 0.50em; }
  /* line 11, ../sass/components/_rightsidebar.scss */
  .rightsidebar .block__content {
    line-height: 18px; }
  /* line 15, ../sass/components/_rightsidebar.scss */
  .rightsidebar .views-row {
    line-height: 40px;
    font-size: 14px;
    height: 40px;
    border-bottom: 1px solid #cecece; }
    /* line 21, ../sass/components/_rightsidebar.scss */
    .rightsidebar .views-row:hover {
      background: #e9f8ff; }
    /* line 25, ../sass/components/_rightsidebar.scss */
    .rightsidebar .views-row .views-field-field-image,
    .rightsidebar .views-row .views-field-field-target-url {
      display: inline-block;
      vertical-align: top;
      padding-right: 0.25em; }
      /* line 31, ../sass/components/_rightsidebar.scss */
      .rightsidebar .views-row .views-field-field-image .field-content,
      .rightsidebar .views-row .views-field-field-target-url .field-content {
        display: table-cell; }
      /* line 35, ../sass/components/_rightsidebar.scss */
      .rightsidebar .views-row .views-field-field-image img,
      .rightsidebar .views-row .views-field-field-target-url img {
        vertical-align: middle; }
  /* line 41, ../sass/components/_rightsidebar.scss */
  .rightsidebar .view-footer p,
  .rightsidebar .view-footer a {
    display: block;
    padding: 10px 0px 10px 0px;
    width: 100%;
    color: #000;
    margin: 0;
    line-height: 18px; }

/* line 2, ../sass/components/_screenshots.scss */
.pane-screenshot-gallery-grid .views-row {
  max-width: 109px; }
/* line 10, ../sass/components/_screenshots.scss */
.pane-screenshot-gallery-grid .screenshot_hover {
  max-width: 109px;
  height: 96%;
  padding: 1em; }

/* line 1, ../sass/components/_trending.scss */
.trending {
  display: none;
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  height: 30px;
  margin-top: 0.50em;
  border-bottom: 1px solid #dbdbdb; }
  /* line 10, ../sass/components/_trending.scss */
  .trending .l-region--trending {
    width: 83.05085%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none; }
    /* line 12, ../sass/components/_trending.scss */
    .trending .l-region--trending h3 {
      float: left;
      margin: 0;
      margin-right: 0.50em; }
    /* line 17, ../sass/components/_trending.scss */
    .trending .l-region--trending .trending_links {
      line-height: 19px;
      margin: 0;
      padding-left: 0;
      overflow-y: hidden;
      height: 20px; }
      /* line 23, ../sass/components/_trending.scss */
      .trending .l-region--trending .trending_links li {
        float: left;
        list-style: none;
        color: #959595; }
        /* line 27, ../sass/components/_trending.scss */
        .trending .l-region--trending .trending_links li a {
          margin: 0px 4px; }
      /* line 32, ../sass/components/_trending.scss */
      .trending .l-region--trending .trending_links li:last-child span {
        display: none; }

/* line 1, ../sass/components/_videos.scss */
.pane-video-exclusive {
  margin-bottom: 5em; }
  /* line 3, ../sass/components/_videos.scss */
  .pane-video-exclusive .views-row {
    padding: 1em;
    background: #242121; }

/* line 16, ../sass/components/_videos.scss */
.pane-video-gallery-grid .views-row {
  max-width: 150px; }
/* line 21, ../sass/components/_videos.scss */
.pane-video-gallery-grid .video_image a {
  display: block;
  border-bottom: 4px solid #bce6ff; }
/* line 26, ../sass/components/_videos.scss */
.pane-video-gallery-grid .video_hover {
  max-width: 150px;
  height: 120px; }
  /* line 31, ../sass/components/_videos.scss */
  .pane-video-gallery-grid .video_hover span {
    display: block;
    padding: 0.75em 1.75em;
    margin-left: 0.5em;
    background: url("../images/video_icon.png") no-repeat transparent 2px 10px; }
  /* line 42, ../sass/components/_videos.scss */
  .pane-video-gallery-grid .video_hover:hover + .video_image > a {
    border-bottom: 4px solid #1879cd; }
  /* line 46, ../sass/components/_videos.scss */
  .pane-video-gallery-grid .video_hover:hover + .video_title > a {
    color: #1879cd; }
/* line 51, ../sass/components/_videos.scss */
.pane-video-gallery-grid .video_title a {
  color: #000;
  font-size: 16px;
  padding: 10px 0 15px 0;
  text-shadow: none;
  border-bottom: 0px !important;
  display: block;
  font-weight: 400; }
  /* line 60, ../sass/components/_videos.scss */
  .pane-video-gallery-grid .video_title a:hover {
    color: #1879cd; }
