/* line 1, ../sass/abstractions/_global.scss */
.breadcrumb {
  display: none; }

/* line 4, ../sass/abstractions/_global.scss */
.main {
  background: url("http://skywisenight.com/spec_rev7/content/skins/1_r5.jpg");
  background-color: #181818;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 160px; }

/* line 11, ../sass/abstractions/_global.scss */
.main-inner {
  width: 83.05085%;
  float: left;
  margin-right: -100%;
  margin-left: 8.47458%;
  clear: none;
  background: #ffffff; }

/* line 1, ../sass/abstractions/_header.scss */
.header {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  background: #fff;
  padding: 1.5em 0; }
  /* line 7, ../sass/abstractions/_header.scss */
  .header .l-constrained {
    width: 83.05085%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none; }
  /* line 10, ../sass/abstractions/_header.scss */
  .header .site-branding {
    float: left;
    margin-right: 0.50em; }
  /* line 14, ../sass/abstractions/_header.scss */
  .header .block--om-maximenu h2 {
    display: none; }
  /* line 18, ../sass/abstractions/_header.scss */
  .header .om-menu li {
    border-left: 1px solid #d7f0ff; }

/* line 24, ../sass/abstractions/_header.scss */
.advert-bar {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  height: 90px;
  background: #E2E2E2; }

/* line 22, ../sass/abstractions/style-guide.scss */
.main {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  border: 1px solid green; }

/* line 30, ../sass/abstractions/style-guide.scss */
.ads-section {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  height: 100px;
  border: 1px solid red; }

/* line 35, ../sass/abstractions/style-guide.scss */
.ad1 {
  width: 40.67797%;
  float: left;
  margin-right: -100%;
  margin-left: 8.47458%;
  clear: none;
  background: red;
  height: 100px; }

/* line 40, ../sass/abstractions/style-guide.scss */
.ad2 {
  width: 40.67797%;
  float: left;
  margin-right: -100%;
  margin-left: 50.84746%;
  clear: none;
  background: orange;
  height: 100px; }

/* line 45, ../sass/abstractions/style-guide.scss */
.leftsidebar {
  display: none;
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  background: #333333;
  height: 100vh; }

/* line 56, ../sass/abstractions/style-guide.scss */
.center-content {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/* line 62, ../sass/abstractions/style-guide.scss */
.rightsidebar {
  display: none; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 1, ../sass/base/_typography.scss */
a, a:link, a:visited {
  color: #31b4ff;
  text-decoration: none; }

/* line 6, ../sass/base/_typography.scss */
body {
  font-weight: 100;
  font-size: 14px; }

/* line 3, ../sass/components/_navigation.scss */
.om-menu .item-list ul {
  padding: 0; }
  /* line 5, ../sass/components/_navigation.scss */
  .om-menu .item-list ul li {
    border: 0;
    padding: 0.50em; }
/* line 11, ../sass/components/_navigation.scss */
.om-menu .om-maximenu .om-maximenu-middle {
  border-radius: 0 0 3px 3px; }
/* line 14, ../sass/components/_navigation.scss */
.om-menu li:hover {
  background: #bce6ff; }
  /* line 16, ../sass/components/_navigation.scss */
  .om-menu li:hover .om-maximenu-content {
    border-top: 5px solid #bce6ff; }

/* line 1, ../sass/components/_trending.scss */
.trending {
  display: none;
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  height: 30px;
  margin-top: 0.50em;
  border-bottom: 1px solid #dbdbdb; }
  /* line 10, ../sass/components/_trending.scss */
  .trending .block__content {
    width: 83.05085%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none; }
    /* line 12, ../sass/components/_trending.scss */
    .trending .block__content h3 {
      float: left;
      margin: 0;
      margin-right: 0.50em; }
    /* line 17, ../sass/components/_trending.scss */
    .trending .block__content .trending_links {
      line-height: 19px;
      margin: 0; }
      /* line 20, ../sass/components/_trending.scss */
      .trending .block__content .trending_links li {
        float: left;
        list-style: none;
        color: #959595; }
        /* line 24, ../sass/components/_trending.scss */
        .trending .block__content .trending_links li a {
          margin: 0px 4px; }
      /* line 29, ../sass/components/_trending.scss */
      .trending .block__content .trending_links li:last-child span {
        display: none; }

/*# sourceMappingURL=mmorpg.no-query.css.map */
