$link: #31b4ff;
$grey: #959595;
$border-grey: #dbdbdb;
$bg-grey: #E2E2E2;
$light-gray: #bfcad1;
$white: #ffffff;
$light-blue: #bce6ff;
$darkbg: #333333;
$btn-blue: #2186d4;
$btn-bhover: #2b94e4;
$hover-lblue: #e9f8ff;
