$link: #31b4ff;
$grey: #959595;
$border-grey: #dbdbdb;
$border-grey-dark: #cecece;
$bg-grey: #E2E2E2;
$light-gray: #bfcad1;
$dark-gray: #707070;
$white: #ffffff;
$black: #000;
$light-blue: #bce6ff;
$darkbg: #333333;
$btn-blue: #2186d4;
$btn-bhover: #2b94e4;
$hover-lblue: #e9f8ff;
$hover-dblue: #1879cd;
$title-blue: #70b9ed;
$green: #65c015;
