/* ==========================================================================
   Gallery pages common styles
   ========================================================================== */
%gallery_rows{
  display: inline-block;
  float: left;
  margin: 0 5px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  width: 100%;
  height: auto;
}

%gallery_overlay{
  color: $light-gray;
  position: absolute;
  top: 0;
  width: 100%;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
  background: url('../images/updates_bg.png');
}

%gallery_hover{
  background: none;
}

/* ==========================================================================
   Node pages common styles
   ========================================================================== */
%node_body{
  background: $white;
  border-top: 4px solid $light-blue;
  font-size: 14px;
  line-height: 1.6em;
  margin: 0 auto;
  margin-bottom: -20px;
  padding: 20px;
  position: relative;
  width: 92%;
}

/* ==========================================================================
   Play Now Buttons and filters
   ========================================================================== */
%play_now_buttons{
  color: $white !important;
  display: inline-block;
  padding: 6px 7px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 1px;
  white-space: nowrap;
  margin-right: 6px;
  margin-bottom: 6px;
}



