.main {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  border: 1px solid green;
}
@media (min-width: 1024px) {
  .main {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: both;
  }
}

.ads-section {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  height: 100px;
  border: 1px solid red;
}

.ad1 {
  width: 40.67797%;
  float: left;
  margin-right: -100%;
  margin-left: 8.47458%;
  clear: none;
  background: red;
  height: 100px;
}

.ad2 {
  width: 40.67797%;
  float: left;
  margin-right: -100%;
  margin-left: 50.84746%;
  clear: none;
  background: orange;
  height: 100px;
}

.leftsidebar,
.center-content,
.rightsidebar {
  float: left;
}

.leftsidebar {
  display: none;
  background: #333;
  height: 100vh;
}
@media (min-width: 1024px) {
  .leftsidebar {
    width: 180px;
    margin-right: 20px;
    display: block;
  }
}

@media (min-width: 1024px) {
  .center-content {
    width: 700px;
    margin-right: 20px;
    padding-top: 1.7em;
  }
}

.rightsidebar {
  display: none;
}
@media (min-width: 1024px) {
  .rightsidebar {
    width: 330px;
    display: block;
  }
}
