/* line 22, ../../sass/abstractions/style-guide.scss */
.main {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  border: 1px solid green; }
  @media (min-width: 1024px) {
    /* line 22, ../../sass/abstractions/style-guide.scss */
    .main {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      clear: both; } }

/* line 30, ../../sass/abstractions/style-guide.scss */
.ads-section {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  height: 100px;
  border: 1px solid red; }

/* line 35, ../../sass/abstractions/style-guide.scss */
.ad1 {
  width: 40.67797%;
  float: left;
  margin-right: -100%;
  margin-left: 8.47458%;
  clear: none;
  background: red;
  height: 100px; }

/* line 40, ../../sass/abstractions/style-guide.scss */
.ad2 {
  width: 40.67797%;
  float: left;
  margin-right: -100%;
  margin-left: 50.84746%;
  clear: none;
  background: orange;
  height: 100px; }

/* line 45, ../../sass/abstractions/style-guide.scss */
.leftsidebar {
  display: none;
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  background: #333;
  height: 100vh; }
  @media (min-width: 1024px) {
    /* line 45, ../../sass/abstractions/style-guide.scss */
    .leftsidebar {
      width: 15.25424%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none;
      display: block; } }

/* line 56, ../../sass/abstractions/style-guide.scss */
.center-content {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }
  @media (min-width: 768px) {
    /* line 56, ../../sass/abstractions/style-guide.scss */
    .center-content {
      width: 100%;
      float: left;
      margin-right: -100%;
      margin-left: -8.47458%;
      clear: none; } }
  @media (min-width: 1024px) {
    /* line 56, ../../sass/abstractions/style-guide.scss */
    .center-content {
      width: 49.15254%;
      float: left;
      margin-right: -100%;
      margin-left: 16.94915%;
      clear: none; } }

/* line 65, ../../sass/abstractions/style-guide.scss */
.rightsidebar {
  display: none; }
  @media (min-width: 1024px) {
    /* line 65, ../../sass/abstractions/style-guide.scss */
    .rightsidebar {
      width: 32.20339%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      display: block; } }
